.cardContainer{
    position: relative;
    height: min(320px , 70vh);
    width: min(240px,80vw);
    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 20px 20px 20px rgba(0 0 0 / 0.3),
                -10px -10px 20px rgba(0 0 0 / 0.3);
}

.card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    object-fit: contain;
    object-position: center;
    box-shadow: 10px 10px 20px rgba(0 0 0 / 0.3);
}

.card:hover{
    transform: rotateY(180deg);
}

.theFront{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    /* border-radius: 10px; */
}

.theBack{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    overflow-y: scroll;
    /* border-radius: 10px; */
}

.theBack::-webkit-scrollbar{
    display: none;
}

